<button (click)="montarTabela()">Montar tabela</button>

<h3 *ngIf="!tabelaVisivel">Clique no botão para montar a tabela</h3>

<table
  *ngIf="tabelaVisivel"
  mat-table
  [dataSource]="data"
  class="mat-elevation-z8"
>
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
